<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for(:title) { "1080p dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-image:linear-gradient(#a9ccc7,#87a39f);" style="background-color:#ff9618;"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" style="background-image:linear-gradient(#8c99a6,#708090);" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello" style="background-image:linear-gradient(#b24141,#8e3434);" data-text="This is our shiny new dashboard." data-moreinfo="Please ask for any data you feel you need displayed here."></div>
      <i class="icon-dashboard icon-background"></i>
    </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="orders" data-view="Meter" data-title="Orders" style="background-image:linear-gradient(#3776A4,#2c5e83);" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="quotes" data-view="Meter" data-title="Quotes" style="background-image:linear-gradient(#3776A4,#2c5e83);" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="hotparts" data-view="List" style="background-image:linear-gradient(#708090,#596673);" data-unordered="true" data-title="Hot Parts" data-moreinfo="Mosted quotes parts in last 30 days."></div>
      <i class="icon-star icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" style="background-image:linear-gradient(#9794a7,#787685);" data-title="Weather Forecast" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-image:linear-gradient(#00A099,#00807a);" data-moreinfo="poop" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-image:linear-gradient(#7eb3cd,#648fa4);" data-moreinfo="Tweets that mention 'electronic components'"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

  </ul>
  <center><div style="font-size: 12px"></div></center>
</div>